<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../../js/common/jquery-3.4.1.min.js"></script>
<script>
    function founction() {
      var a = $("#name").val();
      window.getpath
      alert(a)
        $("#name").val("buxiaole")

    }


</script>
<body>
<h1>
    静态页面可以写项目了
    <div>
     非常可以   <input id="name" value="hahha" />
     点击变色   <input type="button" onclick="founction()"/>
    </div>

</h1>
</body>
</html>